body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.addressNav {
  color: aliceblue;
}

.searchInput {
  width: 190%;
}

.searchButton {
  margin-top: 14% !important;
  margin-left: 329% !important;
  height: 43px !important;
  width: 74px !important;
}

.rtlSymbol {
  margin-left: 180px;
  margin-top: 0.7%;
  margin-right: 0%;
}

.card {
  margin-left: 13% !important;
}

.accountsNav {
  color: white;
  margin-left: 17px;
}

.identity {
  background-color: red;
}

.identity1 {
  background-color: green;
}

.navBgColor {
  background-color: blueviolet;
}

.sidebar {
  background-color: white !important;
}

.searchNpm{
  height: "44px"; 
  height: 12px !important;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 2%;
  margin-left: 5% !important;
}
.positionForPrice {
  display: inline !important;
  width: 30% !important;
}
.App-header {
  /* display: flex; */
  /* flex-direction: column; */
  
  /* display: flex; */
  height: 12px !important;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.deals {
  margin-top: 10% !important;
}

.proDetailsRatingSym {
  margin-left: -5% !important;
}

.addCartCardHeader {
  color: red;
}

.addToCartBtn {
  background-color: orange !important;
}

.textColorRed {
  color: red !important;
}

.servicesLogo {
  display: inline !important;
}

.wordWrap {
  max-width: 60% !important;
}

.mainImgPosition {
  margin-top: -90%;
  margin-left: 21%;
}

.cartPrice {
  margin-left: 96%;
  margin-bottom: 0px;
}

.cartPageOptions {
  margin-left: -10% !important;
}

.subTotalText {
  margin-left: 71%;
}

/* .emiAvilableInCart{
  margin-left: ;
} */